<div *ngIf="this.isEmpty" align="center">
  <b>EMPTY CAR!</b>
  <br>
  <p>
    Please select some products to buy
  </p>
</div>

<!-- Usando container para usar *ngIf y *ngFor-->
<ng-container *ngIf="!this.isEmpty">

  <h2 class="title_form">SELECTED PRODUCTS : </h2>

  <div *ngFor="let itemsCar of cart">

    <div class="b-project" *ngIf="cart">
      <div class="b-project__title-container">
        <h3 class="b-project__title">{{ itemsCar.name }}</h3>
      </div>
      <div class="b-project__description">
        {{ itemsCar.descript }}
      </div>
      <div class="b-project__description">
        <b>{{ itemsCar.price }} USD</b>
      </div>
      <div >
        <a (click)="onDeleteProject(itemsCar)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>


  <div class="formulario_cart">

    <h2 class="title_form">NOTIFY BY EMAIL: </h2>

    <!--user data -->
    <div class="b-project" *ngIf="cart">
      <div class="b-project__description">
        <h5> <b> Name:  </b> {{ dataUser.name }} </h5>
      </div>
      <div class="b-project__description">
      <h5> <b> Email: </b> {{ dataUser.email }} </h5>
      </div>

    </div>
    <!-- end -->

    <table>
      <tr>
        <td><!-- Paypal-->

          <form #form class="form-inline" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" >

            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="juanc0344@gmail.com">

            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">

            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="amount" value="{{cart[0].price}}">
            <input type="hidden" name="item_name" value="{{cart[0].name}}">

            <input type="hidden" name="currency_code" value="USD">

            <button class="btn btn-primary" type="button" (click)="form.submit();onPlaceOrder()"> Place order</button>
          </form>

          <!-- paypal-->
        </td>
        <td></td>
        <td><a href="/item-list" class="btn">Cancel</a></td>
      </tr>
    </table>

  </div>

</ng-container>
